## Upgrade pip to install scipy
# pip install --upgrade pip

numpy
pandas
scipy  # need pip 9

scikit-learn
matplotlib

pillow
imageio

jupyter


## tensorflow for Python 2.7
# Option 1: 
# pip install --upgrade tensorflow
# Option 2:
# pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.3.0-py2-none-any.whl
